.root-wrapper {
    /* border: 2px white solid; */
    --bg-dim: 1; /* normal brightness; made a variable so we can access/change in js */

    position: relative;
    width: 100vw;
    height: 100vh;
}

.root-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('https://i.postimg.cc/fbhw6hzJ/bg-home-2.png') center no-repeat;
    background-size: cover;
    filter: brightness(var(--bg-dim));
    transition: filter 0.3s ease;
}